:root {
  /* Primary Colors */
  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* Neutral Colors */
  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);

  /* Font */
  --ff-base: "Red Hat Display", sans-serif;
  --fw-medium: 500;
  --fw-bold: 700;
  --fw-black: 900;
}

/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* General Styles */
html {
  font-size: 62.5%;
}

body {
  background-color: var(--pale-blue);
  font-size: 1.6rem;
  font-family: var(--ff-base);
}

.wrapper {
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  max-width: 350px;
  display: flex;
  flex-direction: column;
  background-color: #fff;
  overflow: hidden;
  border-radius: 2rem;
  box-shadow: 0px 0px 0px 5px hsla(255, 255, 255, 0.2%);
}

.img-box img {
  width: 100%;
}

.text-content {
  background-color: var(--very-pale-blue);
  padding: 2rem;
  gap: 1.6rem;
  text-align: center;
}
.product {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  background-color: var(--bright-blue);
  color: var(--very-pale-blue);
  padding: 1.2rem 2.4rem;
  width: 100%;
  border: none;
  border-radius: 0.8rem;
  font-size: 1.6rem;
  font-weight: var(--fw-bold);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
